<app-navbar></app-navbar>
<div class="title">
    <h1>User Registry</h1>
    <p>A general view of all your members in your organization</p>
</div>

<div id="container">
    <div id="table" *ngIf="employeeTableFlag">
        <mat-table [dataSource]="employees">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                <mat-cell [style.color]="row.active === 'Yes' ? 'Green' : 'Red'" *matCellDef="let row"> {{row.active}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="admin">
                <mat-header-cell *matHeaderCellDef> Admin </mat-header-cell>
                <mat-cell [style.color]="row.admin === 'Yes' ? 'Green' : 'Red'" *matCellDef="let row"> {{row.admin}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <!-- Button trigger modal -->
    <button id="button" (click)="addUser()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add User
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-background">
            <div class="modal-header modal-exit">
                <button (click)="resetForm()" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="email-container" *ngIf="addEmailFlag" [formGroup]="form">
                    <input class="input" type="text" formControlName="email" placeholder="email">
                    <button class="validate-button" (click)="validateEmail()">Add email</button>
                </div>
                <div class="email-container" *ngIf="formFlag" [formGroup]="form">
                    <input class="input input-form" type="text" formControlName="username" placeholder="username">
                    <input class="input input-form" type="text" formControlName="firstName" placeholder="first name">
                    <input class="input input-form" type="text" formControlName="lastName" placeholder="last name">
                    <input class="input input-form" type="tel" formControlName="phone" placeholder="phone number">
                    <input class="input input-form" type="password" formControlName="password" placeholder="password">
                    <label class="input input-form" for="adminCheckbox">Make user an admin?</label>
                    <input id="adminCheckbox" type="checkbox" formControlName="admin">
                    <button class="validate-button" (click)="createUser()" [disabled]="!form.valid">Submit</button>
                </div>
                <!-- <div *ngIf="isUserCreated">User Successfully Created!</div> -->
                <!-- <div id="isEmpMsg" *ngIf="isEmp">Employee already works for this company! Shame on you!</div> -->
                <!-- <div *ngIf="isExistingUserInserted">User inserted into our lineup!</div> -->
            </div>
        </div>
    </div>
</div>