<app-navbar></app-navbar>
<link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>

<div class="overAllBlock" *ngIf="addTeamMember==false">
   
    <h1 class="Title">Teams</h1>
    <div class="MakeNewTeamButton">
        <button (click)="addTeamMember=true" *ngIf="isAdmin">Add New Team</button>
    </div>
    
    <br>
    <div class="allTeamBlocks">
        <div   class="teamBlock" *ngFor="let team of teams">
            <div  *ngIf="teamProjectLengthDict.hasOwnProperty(team.id)==false">
                {{getNumOfProjects(team.id)}}
            </div>
    
            <div class="teamHeader">
                <p class="teamName">{{team.name}}</p>
                
                <p class="numOfProjects"># of Projects: {{ teamProjectLengthDict[team.id] }}</p>
            </div>
                
            
            <div class="teamHeader2">
                <p>Teamates:</p>
            </div>
            
            <div class="teamList" *ngFor="let tm of team.teammates">
                <div>
                    <p>{{tm.profile.firstName}} {{tm.profile.lastName[0]}}.</p>
                </div>
                
            </div>
            <button (click)="editProjects(team.id)" class="EditProjects">Go To Projects</button>
        </div>
    </div>
    
    <br>
    
</div>

<div class="overAllBlock" *ngIf="addTeamMember">
    
    <h1>Add Team</h1>
    

    <div class="add-team-form">
        <div class="topInput">
            <p>Team Name</p>
            <input
            type="text" placeholder="Team Name"
            [(ngModel)]="teamName" 
            />
            <p>Description</p>
            <input
            type="text" placeholder="Description"
            [(ngModel)]="description"
            />

        </div>

        <h2>Select Members</h2>
        <div class="selectMembers">
            <select [(ngModel)]="selectedItem" (ngModelChange)="onMemberChange()">
                <option *ngFor="let member of teamMembers" [ngValue]="member">{{ member.profile.firstName }} {{ member.profile.lastName[0] }}.</option>
            </select>

        </div>

        <br>
        <h2 *ngIf="selectedMembers.length > 0">Selected Members</h2>
        <div *ngFor="let member of selectedMembers" class="selectedMembersBox">
            <div class="potentialTeamMember">
                <p>{{ member.profile.firstName }} {{ member.profile.lastName }}</p> 
                <!--  <button (click)="removeMember(member.id)">Remove person</button> -->
                <input type="image" name="Name of image button" (click)="removeMember(member.id)" src="assets\images\Cross_red_circle.png" alt="text">  

            </div>
            
            
        </div>  

        <div class="postTeamButton">
            <button (click)="postTeam()">Submit</button>
        </div>
        
        
            
    </div>
</div>
