
<div class="loginPage" *ngIf="loggedIN==false">
    <div class="title">
        <h1>COOK SYSTEMS Final App</h1>
        <img src="assets/images/folder_logo.png" class="logo" alt="Company Logo">
    </div>
    <div class="login-card">
        <div class="login-form">
            <input
                type="text" placeholder="Username"
                [(ngModel)]="username" 
                />
            <input
                type="password" placeholder="Password"
                [(ngModel)]="password"
                />
                <button (click)="loginLogic()">LOGIN</button>
                <div *ngIf="failedLogIn">
                    <p>Wrong username or password. Try again </p>
                </div>
                

        </div>
    </div>

</div>

