<nav>
  <a href="https://www.allaboutfasttrack.com/">
      <img src="assets/images/folder_logo.png" class="logo" alt="Company Logo">
  </a>
  <ul>
      <li><a href="http://127.0.0.1:5500/index.html">Home</a></li>
      <li><a href="http://127.0.0.1:5500/works.html">Company</a></li>
      <li><a href="http://127.0.0.1:5500/contact.html">Teams</a></li>
      <li><a href="http://127.0.0.1:5500/contact.html">Users</a></li>
      <li><a href="http://127.0.0.1:5500/contact.html">Logout</a></li>
  </ul>
</nav>