nav 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px; 
    border-bottom: 3px solid #33c4ff;
    margin-bottom: 25px;
}

.logo
{
   width:100px; 
   height: 100px;
   margin-left: 25px;
   margin-top: 25px;
   align-items: center;
   border-radius: 50%;
   border: 7px solid #0D3A59;
   background-color: #0D3A59;
}

.leftSide
{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:30px;
    white-space: nowrap;
    color:#F24E1E;
    margin-bottom: 20px;
    font-family: "Mulish";
}
.leftSide p
{
    margin: 0; 
    font-size:20px;

}

nav ul 
{
    display: flex;
    gap: 30px;
    list-style: none; 
    margin: 0;
    padding: 0; 
    justify-content: flex-end; 
    width: 100%; 
    margin-right: 25px;
}

nav ul li
{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a
{
    /* color: white; */
    color:#33c4ff;
    font-family: "Mulish";
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after
{
    content:'';
    width: 0;
    height: 3px;
    background: #33c4ff;;
    position: absolute;
    left:0;
    bottom: -6px;
    transition:0.5s;
}

nav ul li a:hover::after
{
    width: 50px;
}


